body { font-family: Tahoma, Arial, Helvetica; text-size: 10pt; }
h1 { font-weight: bold; font-size: 24pt; }
h2 { font-weight: bold; font-size: 20pt; }
h3 { font-weight: bold; font-size: 16pt; }
td { font-family: Tahoma, Arial, Helvetica; text-size: 10pt; }
a { font-weight: bold; text-size: 11pt; }
a:link { color: #336699; font-family: Tahoma, Arial, Helvetica; font-size: 10pt; font-weight: bold; text-decoration: underline; }
a:hover { color: #6699cc; font-family: Tahoma, Arial, Helvetica; font-size: 10pt; font-weight: bold; text-decoration: underline; }
a:active { color: #6699cc; font-family: Tahoma, Arial, Helvetica; font-size: 10pt; font-weight: bold; text-decoration: underline; }
a:visited { color: #336699; font-family: Tahoma, Arial, Helvetica; font-size: 10pt; font-weight: bold; text-decoration: underline; }
a:visited:hover { color: #6699cc; font-family: Tahoma, Arial, Helvetica; font-size: 10pt; font-weight: bold; text-decoration: underline; }
span.deadlink { color: #336699; font-family: Tahoma, Arial, Helvetica; font-size: 10pt; font-weight: bold; }

table td { font-size: 8px; margin: 14px 14px 14px 14px; }
table.border { border: 1px solid #000000; }
table.light_border { border: 1px solid #cccccc; }
table.border td { font-size: 10pt; margin: 24px 24px 24px 24px; }
td.footer { font-size: 8pt; color: #cccccc; }
.h3 { font-weight: bold; font-size: 11pt; }
.h4 { font-weight: bold; font-size: 10pt; }
.location { font-size: 10pt; color: #000000; }

table.navigation tr td a:link { font-size: 8pt; }
table.navigation tr td a:hover { font-size: 8pt; }
table.navigation tr td a:active { font-size: 8pt; }
table.navigation tr td a:visited { font-size: 8pt; }
table.navigation tr td a:visited:hover { font-size: 8pt; }